@import url(./header.css);
@import url(./body.css);
@import url(./width-classes.css);
@import url(./mobile/mobile.css);

#root {
  overflow: hidden;
  height: 100%;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  gap: 3rem;
  padding: 1rem 1.5rem;
  overflow: hidden;
}