@import url(./header.css);
@import url(./body.css);
@import url(./mobile/mobile.css);

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  gap: 3rem;
  padding: 1rem 1.5rem;
}

