.body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.pageTitle {
  font-size: 2.25rem;
  grid-column: 1/13;
  text-align: center;
}

.content {
  grid-column: 2/12;
}

.content > * {
  padding: 1rem .5rem;
}

.grid-cols-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}