

.header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
}

.title {
  background-image: url(../../assets/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 0;
  padding-top: 40%;
}

.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.nav > * {
  text-align: center;
  align-self: center;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  transition-property: transform;
  transition-duration: .75s;
}

.nav:hover > a {
  color:rgba(105, 105, 105, 0.5);
}

.nav > a:hover {
  transform: scale(1.15);
  text-decoration: underline;
  color: antiquewhite;
}

.activeNav {
  display: none;
}